[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/p4story"]
	path = src/p4story
	url = git@github.com:anton-grigorita/p4story-bot-lib.git
	branch = main
[submodule "src/injector"]
	path = src/injector
	url = git@github.com:anton-grigorita/simple_injector.git
	branch = main
